.body {
    min-height: 100vh;
    overflow: hidden;
}   

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-si {
    width: 100%;
    max-width: 420px;
    margin: auto;
}

.form {
    width: 100%;
    max-width: 840px;
    margin: auto;
}

.nav-logo {
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.logotype {
    height: 100px;
    width: 80%;
    object-fit: cover;
    object-position: center;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s;
}

.page_content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all .5s;
}

.page_section {
    height: 100%;
    margin-top: 10%;
}

#sidebar.active {
    margin-left: -12rem;
}

#content.active {
    width: calc(100% - 12rem);
    margin-left: 5rem;
}

@media screen and (max-width: 768px) {

    .content {
        position: relative;
        left: 0%;
        top: 0%;
        transform: translate(0, 0);
    }

    .logotype {
        margin-top: 20px
    }

    .bq {
        font-size: 16px;
    }

    .w {
        max-width: 420px;
        width: 100%;
    }

    #sidebar {
        margin-left: -17rem;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }

    .page_section {
        height: 100%;
        margin-top: 15%;
    }
}
